*.csv
*.db
*.egg-info/
*.pyc
*.sqlite
*.sw?
*~
.*.sw?
.DS_Store
.activate
.coverage
.directory
.env
.idea/*
.ipynb_checkpoints/
.pytest_cache/
.tox
MANIFEST
build/*
data/
dist/*
docs-build/
docs/man/
docs/reference/
reg_settings.py
