-r requirements.txt

# Everything except install_requires
click
file-magic
lxml
openpyxl
parquet>=1.1
pdfminer.six
requests
requests-cache
xlrd
xlwt

# Test and lint tools
autoflake
black
coverage
ipdb
isort
mock
nose
pylint
tox
yanc

# Doc tools
sphinx==1.5
recommonmark
