-r requirements.txt

# Everything except install_requires
click
file-magic
lxml
openpyxl
parquet>=1.1
requests
requests-cache
xlrd
xlwt

# Test tools
coverage
ipdb
mock
nose
pylint
yanc
tox

# Doc tools
sphinx
recommonmark
